body {
    background-color: rgb(122, 0, 0);
}

#div1 {
    color: rgb(0, 0, 0);
}



#search-section {
    margin: 2rem;
}

#city-section {
    margin: 2rem;   
}

#temp-section {
    margin: 2rem;
}

#condition-section {
    margin: 2rem;
}

#info-section {
    margin: 2rem;
}

#hide-form {
    display: none;
}